In [1]:
carprice = {} # empty dictionary

In [2]:
type(carprice)

dict

In [46]:
carprice = dict()

In [47]:
type(carprice)

dict

## Example

In [3]:
myinfo = {
    'name':'Rakshya'
}

In [4]:
myinfo

{'name': 'Rakshya'}

In [5]:
myinfo = {
    'name': 'Rakshya',
    'age': 23,
    'teaches': ['Python', 'Data Science', 'Machine Learning', 'Deep Learning', 'Artificial Intelligence'],
    'at': 'Broadway Infosys',
    'works_at': 'Fusemachines'
}

In [6]:
myinfo

{'name': 'Rakshya',
 'age': 23,
 'teaches': ['Python',
  'Data Science',
  'Machine Learning',
  'Deep Learning',
  'Artificial Intelligence'],
 'at': 'Broadway Infosys',
 'works_at': 'Fusemachines'}

In [7]:
{
    1.1: 'floating point can be used as key'
}

{1.1: 'floating point can be used as key'}

In [8]:
{
    [1]: 'list cannot be used as a key'
}

TypeError: unhashable type: 'list'

## Getting keys only or values only in dictionary

In [9]:
myinfo.keys()

dict_keys(['name', 'age', 'teaches', 'at', 'works_at'])

In [10]:
myinfo.values()

dict_values(['Rakshya', 23, ['Python', 'Data Science', 'Machine Learning', 'Deep Learning', 'Artificial Intelligence'], 'Broadway Infosys', 'Fusemachines'])

In [11]:
# typecast keys to list

list(myinfo.keys())

['name', 'age', 'teaches', 'at', 'works_at']

In [12]:
list(myinfo.values())

['Rakshya',
 23,
 ['Python',
  'Data Science',
  'Machine Learning',
  'Deep Learning',
  'Artificial Intelligence'],
 'Broadway Infosys',
 'Fusemachines']

In [13]:
example = {
    'name': 'Rakshya Bhetwal',
    'age': 23,
     1.1: 'lavender',
     1.2: 'Biryani'
}

In [14]:
example

{'name': 'Rakshya Bhetwal', 'age': 23, 1.1: 'lavender', 1.2: 'Biryani'}

## Accessing values of dictionary

In [15]:
employee = {
    'Name': 'Ram Singh',
    'Address': 'Tinkune',
    'Ward no.': 5,
    'position': 'Clerk'  
}

* Find the name of employee

In [16]:
employee['Name']    # one way to find value of key

'Ram Singh'

In [17]:
employee.get('Name')    # another way to find value of key

'Ram Singh'

In [18]:
employee.get('Ward no.')

5

## Add key value pair on dictionary + (update)

In [19]:
scores ={
    'Nepali': 90,
    'Mathematics': 95,
    'Social Studies': 85.,
    'English': 92
}

In [20]:
scores

{'Nepali': 90, 'Mathematics': 95, 'Social Studies': 85.0, 'English': 92}

In [21]:
scores['Science'] = 98    # add value key value pair to dictionary (one way)

In [22]:
scores

{'Nepali': 90,
 'Mathematics': 95,
 'Social Studies': 85.0,
 'English': 92,
 'Science': 98}

In [23]:
scores.update({'EPH': 85})    # other way to update dictionary

In [24]:
scores

{'Nepali': 90,
 'Mathematics': 95,
 'Social Studies': 85.0,
 'English': 92,
 'Science': 98,
 'EPH': 85}

## Update add key: value pair in dict if the key value doesn't exist.
If key exits it updates vakue of a key

In [25]:
scores

{'Nepali': 90,
 'Mathematics': 95,
 'Social Studies': 85.0,
 'English': 92,
 'Science': 98,
 'EPH': 85}

In [26]:
scores['Science'] = 95
scores

{'Nepali': 90,
 'Mathematics': 95,
 'Social Studies': 85.0,
 'English': 92,
 'Science': 95,
 'EPH': 85}

In [27]:
scores

{'Nepali': 90,
 'Mathematics': 95,
 'Social Studies': 85.0,
 'English': 92,
 'Science': 95,
 'EPH': 85}

## pop() method in python dictionary

In [28]:
scores.pop('EPH')

85

In [30]:
scores

{'Nepali': 90, 'Mathematics': 95, 'Social Studies': 85, 'English': 92}

## Loops in dictionary

In [31]:
scores = {
    'Nepali': 90,
    'Mathematics': 95,
    'Social Studies': 85,
    'English': 92
}

In [32]:
a, b = (2, 3)

In [33]:
scores.items() # [(key, val), (key, val)]

dict_items([('Nepali', 90), ('Mathematics', 95), ('Social Studies', 85), ('English', 92)])

In [34]:
for key, val in scores.items():
    print(f'The key is {key} and value is {val}')

The key is Nepali and value is 90
The key is Mathematics and value is 95
The key is Social Studies and value is 85
The key is English and value is 92

In [35]:
myinfo = {
    'name': 'Rakshya Bhetwal',
    'age': 23,
    'fav_colour': 'Lavender',
    'fav_food': 'momo'
}

In [36]:
for key, val in myinfo.items():
    print(f'The key is {key} and value is {val}')

The key is name and value is Rakshya Bhetwal
The key is age and value is 23
The key is fav_colour and value is Lavender
The key is fav_food and value is momo

# Dictionary Comprehension

* WAP to swap keys and values of given dictionary

In [37]:
d = {1:'One', 2:'Two', 'Five':5}

In [38]:
{val: key for key, val in d.items()}    # expression for items in iterables

{'One': 1, 'Two': 2, 5: 'Five'}

# Nested Dictionary

In [39]:
children = {
    'child1': {'Name': 'Kush', 'Age': 7, 'Father': 'Ram'},
    'child2': {'Name': 'Luv', 'Age': 8, 'Mother': 'Sita', 'Father': 'Ram'}
}

In [41]:
children['child2']['Age']

8

In [42]:
children['child1']['Mother'] # KeyError

KeyError: 'Mother'

In [43]:
children['child2']['Mother']

'Sita'

In [44]:
for key in children:
    print(children[key]['Name'])

Kush
Luv