In [1]:
# initialise empty tuple

a = tuple()    # tuple constructore creates tuple object

In [2]:
a

()

In [3]:
type(a)

tuple

In [4]:
fruits = ('apple', 'banana', 'mango')

In [6]:
type(fruits)

tuple

In [7]:
fruits[0]    # positive indexing

'apple'

In [8]:
fruits[-1]    # negative indexing

'mango'

In [9]:
fruits[1:]    # slicing

('banana', 'mango')

## tuple are immutable

In [10]:
# for list

fruits = ['apple', 'banana', 'mango']
print(f'Type: {type(fruits)}')

fruits[1] = 'cherry'    # list are mutable
print(fruits)

Type: <class 'list'>
['apple', 'cherry', 'mango']

In [13]:
# for tuple

fruits = ('apple', 'banana', 'mango')
print(f'Type: {type(fruits)}')

Type: <class 'tuple'>

In [14]:
fruits[1] = 'cherry'    # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
# type cast tuple to list
fruits = list(fruits)

In [24]:
fruits    # type is list

['apple', 'banana', 'mango']

In [26]:
fruits.append('cherry')

In [27]:
fruits = tuple(fruits)
print(fruits)

('apple', 'banana', 'mango', 'cherry')

## loops in tuple

In [28]:
fruits = ('apple', 'banana', 'mango')
for item in fruits:
    print(item)

apple
banana
mango

In [29]:
for index in range(len(fruits)):
    item = fruits[index]
    print(item)

apple
banana
mango

In [30]:
test_list = [(1, 4, 5), (7, 8), (2, 4, 10)]
print("The original list is : " + str(test_list))

The original list is : [(1, 4, 5), (7, 8), (2, 4, 10)]

In [35]:
sum = 0
for sub in test_list:
    for i in sub:
        sum = sum + i
        
total = sum / len(test_list)
print("The mean of tuple list is : " + str(total))

The mean of tuple list is : 13.666666666666666

In [34]:
data = (9, 2, 2, 1, 0, 9)

total = 0
for item in data:
    total = total + item

mean = total/len(data)

print(f'The mean value of data is {round(mean, 2)}')

The mean value of data is 3.83