# Variable naming convention in python
* Keywords cannot be used as variable name

In [1]:
False = 88

SyntaxError: cannot assign to False (3916142236.py, line 1)

In [2]:
in = 88

SyntaxError: invalid syntax (3289177360.py, line 1)

In [3]:
def = 63

SyntaxError: invalid syntax (1537566957.py, line 1)

# Case sensitive
* Uppercase and lowercase in variable name is different in case sensitive language

In [4]:
false = 88

In [5]:
False = 88

SyntaxError: cannot assign to False (3916142236.py, line 1)


# We cannot use special symbols like !, @, #, $, % etc in our identifier

In [6]:
$name = 'Rakshya'

SyntaxError: invalid syntax (3432803907.py, line 1)

In [7]:
%a = 5

UsageError: Line magic function `%a` not found.

In [8]:
@name = 'Python'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3229905819.py, line 1)

# How can we define variable name or identifier?

In [9]:
my_name = 'Rakshya'
print(my_name)

Rakshya

In [10]:
my name = 'Rakshya'
print(my name)

SyntaxError: invalid syntax (3702003354.py, line 1)

In [11]:
Name5 = 'Ruby'
print(Name5)

Ruby

In [12]:
5Name = 'Reema'
print(5Name)

SyntaxError: invalid decimal literal (1435509610.py, line 1)

In [14]:
zodiac = "Taurus"
print(zodiac)

Taurus

# Python is a case-sensitive language
* Variable and variable are not the same

In [17]:
Variable = 5
variable = 6
print('Variable value is: ', Variable)
print("variable value is: ", variable)

Variable value is:  5
variable value is:  6

In [31]:
dd = 15
mm ='May'
print(f"I was born in {mm} {dd}.")

I was born in May 15.

In [24]:
a = 9
b = 6
print("The value of a and b is {},{}".format(a,b))

The value of a and b is 9,6

In [29]:
a = 15
b = 16
print(f"The value of a and b is {a} , {b}.")

The value of a and b is 15 , 16.

# How can we change a variable value in program?

In [32]:
a = 5
print("The first value is {}". format(a))
a = 99
print(f"The second value is {a}")

The first value is 5
The second value is 99

# Assigning multiple values to multiple variable

In [37]:
a = 20
b = 6

In [38]:
a, b = 20.5, 6.0

In [39]:
print(a)
print(b)

20.5
6.0

In [40]:
print(a, b)

20.5 6.0

In [41]:
a, b, c = 2.5, 6.8

ValueError: not enough values to unpack (expected 3, got 2)

In [42]:
a, b = 6.0, 2.3, 9.0

ValueError: too many values to unpack (expected 2)

In [43]:
a, b, c = 4, 0.2, 2 - 0.9j
print(c)

(2-0.9j)

# Type Checking
* I want to find the data type of each value

In [45]:
type(a)

int

In [46]:
type(b)

float

In [47]:
type(c)

complex

# Swap values between variables

In [1]:
num1 = 2.5
num2 = 0.36
num1, num2

(2.5, 0.36)

In [2]:
tmp = num1
num1 = num2
num2 = tmp
num1, num2

(0.36, 2.5)

## Another method

In [3]:
num1 = 9.0
num2 = 3.5
num1, num2 = num2, num1
num1, num2

(3.5, 9.0)

## Without extra variable

In [4]:
num1 = 78
num2 = 60
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
num1, num2

(60, 78)

# Floating point arithmetic

In [5]:
24.95 - 9.98

14.969999999999999

* Floating point arithmetic is a problem in all programming languages. So IEEE 754 Standard to round it to certain number of digits was introduced.

In [7]:
#IEEE 754 standard. 2 rounds it only upto 2 digits.
round(24.95 - 9.98, 2)

14.97