In [1]:
# Find mean of given list using while loop

In [2]:
nums = [3, 4, 1, 2, 8, 99]

In [4]:
index = 0
end = len(nums)
total = 0

while index < end:
  total = total + nums[index]
  index = index + 1

In [5]:
total

117

In [6]:
mean = total / end

In [7]:
mean

19.5

In [8]:
total = 0
for index in range(len(nums)):
  total = total + nums[index]

In [9]:
total / end

19.5

In [10]:
## Nested For loops

In [16]:
for i in range(5):
  print('______________________')
  print(f'i = {i}')
  print('_______________________')

  for j in range(3):
    print(f'j = {j}')

______________________
i = 0
_______________________
j = 0
j = 1
j = 2
______________________
i = 1
_______________________
j = 0
j = 1
j = 2
______________________
i = 2
_______________________
j = 0
j = 1
j = 2
______________________
i = 3
_______________________
j = 0
j = 1
j = 2
______________________
i = 4
_______________________
j = 0
j = 1
j = 2

In [17]:
data = [[3, 4, 5], [1, 77, 2, 0, 9], [2, 9]] # list of list

In [21]:
for item in data:
  print(item)

  for j in item:
    print(j)

[3, 4, 5]
3
4
5
[1, 77, 2, 0, 9]
1
77
2
0
9
[2, 9]
2
9

In [22]:
for item in data:
  total = 0

  for j in item:
    total = total + j

  mean = total / len(item)
  print(round(mean, 2))

4.0
17.8
5.5