## Indexing

In [1]:
txt = 'hello world'

In [2]:
txt[5]

'hello'

# Slicing

In [4]:
txt[0:5]

'hello'

In [6]:
txt[2:3]

'l'

# Concat

In [10]:
greet = 'Good Morning,'
name = ' Rakshya'

greet + name

'Good Morning, Rakshya'

In [11]:
name * 3 # prints name three times

' Rakshya Rakshya Rakshya'

* replacing one character with another character

In [16]:
txt = '$ophiya'
txt[0]

'$'

In [17]:
txt[0] = "S"

TypeError: 'str' object does not support item assignment

In [18]:
name = '$ophiya'

name.replace('$', 'S')

'Sophiya'

In [19]:
# disadvantage
name = '$ophiya earns $500'

name name.replace('$', 'S')

'Sophiya earns S500'

In [20]:
name

'$ophiya earns $500'

In [22]:
'Happy New Year'.replace('Happy', 'Brilliant')

'Brilliant New Year'

## String normalisation technique

In [23]:
greet = 'HELLO'
greet.lower() # converts string to lowercase and also doesn't update same memory location

'hello'

In [24]:
greet

'HELLO'

In [25]:
planet = 'earth'
planet.upper() # uppercase the string

'EARTH'

In [26]:
planet

'earth'

In [27]:
text = 'I love to eat sweets.'
text.split(" ") # splits the sentence on the basis of space.

['I', 'love', 'to', 'eat', 'sweets.']

In [28]:
text # does not update on the same memory

'I love to eat sweets.'

* split creates python list

In [29]:
type(text.split(" "))

list

In [30]:
text.split("to")

['I love ', ' eat sweets.']