# Creating empty list

In [1]:
list1 = []

In [2]:
list2 = list() # creating empty list using list() method / constructor

In [3]:
type(list1)

list

In [4]:
type(list2)

list

# Create list

In [5]:
fruits = ['Apple', 'Banana', 'Peaches', 'Grapes', 'Kiwi']

In [6]:
fruits

['Apple', 'Banana', 'Peaches', 'Grapes', 'Kiwi']

In [7]:
type(fruits)

list

In [8]:
data = [True, 403, 20.12, "Apple"]

In [9]:
type(data)

list

# Accessing list items (index)

In [10]:
cars = ["Tesla", "Audi", "BMW", "Mercedes"]

In [11]:
cars

['Tesla', 'Audi', 'BMW', 'Mercedes']

In [12]:
cars[0]

'Tesla'

In [13]:
cars[1]

'Audi'

In [14]:
cars[2]

'BMW'

In [15]:
cars[3]

'Mercedes'

In [16]:
nums = [9, 2, 45, 0, 11]

In [17]:
nums[0]

9

In [18]:
nums[1]

2

In [19]:
nums[2]

45

In [20]:
nums[3]

0

In [21]:
nums[4]

11

In [22]:
type(nums[0])

int

In [23]:
list1 = [True, 30.2, 'hi']

In [24]:
list1[0]

True

In [25]:
type(list1[0])

bool

In [26]:
type(list1[1])

float

In [27]:
type(list1[2])

str

In [28]:
nums = [9, 2, 45, 0, 11]
len(nums)

5

In [29]:
len(list1)

3

# Loops in Python List

In [30]:
nums = [9, 2, 45, 0, 11]

start = 0
end = len(nums)
step = 1

for index in range(start, end, step):
    item = nums[index]
    print(item)

9
2
45
0
11

In [31]:
nums = [9, 2, 45, 0, 11]

for index in range(len(nums)): # by default starts from 0 and step is 1 so no need to mention
    item = nums[index]
    print(item)

9
2
45
0
11

In [32]:
nums = [9, 2, 45, 0, 11]

for index in range(len(nums)):
    item = nums[index]
    print(f"item {item} is at index {index}")

item 9 is at index 0
item 2 is at index 1
item 45 is at index 2
item 0 is at index 3
item 11 is at index 4

In [33]:
nums = [9, 2, 45, 0, 11]

for index in range(len(nums)):
    item = nums[index]
    print("item {} is at index {}".format(item, index))

item 9 is at index 0
item 2 is at index 1
item 45 is at index 2
item 0 is at index 3
item 11 is at index 4

In [34]:
nums = [9, 2, 45, 0, 11]

for item in nums: # alternating way of writing for loop -- no index
    print(item)

9
2
45
0
11

# Syntax: for loop in python
```python
for index in range(start, end, step)
    # for block of code
    
for item in iterables:
    # for block of code
```

# Calculate mean using items method

In [35]:
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]

In [36]:
total = 0
for item in scores: 
    total = total + item
    
print(total)

944

In [37]:
n = len(scores)
mean = total / n
print(mean)

47.2

 # Calculate mean using range method

In [38]:
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]

total = 0

for index in range(len(scores)):
    item = scores[index]
    total = total + item

n = len(scores)
mean = total / n
print(f'Mean = {mean}')

Mean = 47.2

# Negative indexing in Python list

In [39]:
food = ['Daal', 'Bhaat', 'Tarkari', 'Achhar', 'Chutney']

In [40]:
food[0]

'Daal'

In [41]:
food[4]

'Chutney'

In [42]:
food[-1] # negative indexing -- to access values from the last

'Chutney'

In [43]:
food[-2]

'Achhar'

# Slicing in List

In [44]:
food = ['Daal', 'Bhaat', 'Tarkari', 'Achhar', 'Chutney', 'Masu']

In [45]:
food[:2] # before position 2

['Daal', 'Bhaat']

In [46]:
food[2:5] # besides position 0, 1 and 5

['Tarkari', 'Achhar', 'Chutney']

In [47]:
food[2:] # after position 2

['Tarkari', 'Achhar', 'Chutney', 'Masu']

# Membership operators in Python
* How to check if something is in the list or not?

In [48]:
food = ['Daal', 'Bhaat', 'Tarkari', 'Achhar', 'Chutney', 'Masu']

In [49]:
"Masu" in food

True

In [50]:
"Salad" in food

False

In [51]:
"Salad" not in food

True

In [52]:
"Masu" not in food

False

In [53]:
cars = ["Porsche", "BMW", "Audi", "Pagani", "Lamborghini"]

In [54]:
"Volkswagen" in cars

False

In [55]:
"Lamborghini" in cars

True

In [56]:
"Porsche" not in cars

False

In [57]:
"Ferrari" not in cars

True

In [58]:
nums = [5, 4, 3, 0, 7, 9]

In [59]:
6 in nums

False

In [60]:
45 not in nums

True

In [61]:
0 in nums

True

In [62]:
45 in nums

False

# Manipulation of list

In [1]:
fruits = ['apple', 'banana', 'mango', 'orange', 'pear']

In [2]:
fruits[0] = 'Kiwi'

In [3]:
fruits

['Kiwi', 'banana', 'mango', 'orange', 'pear']

In [4]:
fruits[2:4] = ['Papaya', 'Grapes'] # replaces item in index 2 and 3

In [5]:
fruits

['Kiwi', 'banana', 'Papaya', 'Grapes', 'pear']

## You can insert a list item in a specified index, using the index() method

In [6]:
cars = ['Audi', 'Rolls Royace', 'Mercedes', 'BMW', 'Tesla']

In [7]:
cars.insert(2, 'Tata Nano') # insert Tata Nano on index 2

In [8]:
cars

['Audi', 'Rolls Royace', 'Tata Nano', 'Mercedes', 'BMW', 'Tesla']

In [13]:
car = []

for i in range(5):
    user_input = input("Enter a cars name: ")
    car.append(user_input)

Enter a cars name: Pagani
Enter a cars name: Porsche
Enter a cars name: Lexus
Enter a cars name: Lamborghini
Enter a cars name: Audi

In [14]:
print(car)

['Pagani', 'Porsche', 'Lexus', 'Lamborghini', 'Audi']

In [15]:
nums = [6]

In [16]:
nums

[6]

In [17]:
type(nums)

list

In [18]:
nums.append(78)

In [19]:
nums

[6, 78]

## extend() method of Python list

In [21]:
list1 = [88, 77]
list2 = [0, 1]

In [22]:
list1.extend(list2)

In [23]:
list1

[88, 77, 0, 1]

In [24]:
list2

[0, 1]

In [26]:
list1 = ['Apple', 'Banana', 'Mango', 'Pear']
list2 = ['Kiwi', 'Grapes']
list1.extend(list2)
print(list1)

['Apple', 'Banana', 'Mango', 'Pear', 'Kiwi', 'Grapes']

In [27]:
print(list2)

['Kiwi', 'Grapes']

In [30]:
list1 = ['Ram', 'Shyam']
list2 = ['Mohan', 'Sohan']
list2.extend(list1)
list2

['Mohan', 'Sohan', 'Ram', 'Shyam']

In [31]:
list1

['Ram', 'Shyam']

## remove() method in Python list

In [33]:
student = ['Sandeep', 'Rakshya', 'Soshika', 'Sezal', 'Kshitiz']

In [34]:
student.remove('Kshitiz')

In [35]:
student

['Sandeep', 'Rakshya', 'Soshika', 'Sezal']

In [42]:
student = ['Kshitiz', 'Sandeep', 'Rakshya', 'Soshika', 'Sezal', 'Kshitiz']
student

['Kshitiz', 'Sandeep', 'Rakshya', 'Soshika', 'Sezal', 'Kshitiz']

In [43]:
student.remove('Kshitiz') # removes first occurance of Kshitiz only

In [44]:
student

['Sandeep', 'Rakshya', 'Soshika', 'Sezal', 'Kshitiz']

# Python List as stack data structure

In [50]:
stack = []
for i in range(4):
    user_input = input("Enter programming books of your choice: ")
    stack.append(user_input)

Enter programming books of your choice: Python
Enter programming books of your choice: Java
Enter programming books of your choice: C++
Enter programming books of your choice: C

In [51]:
stack.append('Ruby')

In [52]:
print(f"After Pushing all data in stack: {stack}")

After Pushing all data in stack: ['Python', 'Java', 'C++', 'C', 'Ruby']

In [53]:
stack.pop() # pop operation

'Ruby'

In [55]:
print(f"After poping all data in stack: {stack}")

After poping all data in stack: ['Python', 'Java', 'C++', 'C']

In [57]:
books = ['Python', 'Java', 'C']
books.pop(1) # removes item in index --1

'Java'

In [58]:
books

['Python', 'C']

# Sorting of list

In [59]:
nums = [99, 2, -9]

In [60]:
nums.sort() # sorts data in ascendng order by default

In [61]:
nums

[-9, 2, 99]

In [62]:
nums = [-1, 0, 5, 99]

In [64]:
nums.sort(reverse = True) # sorts data in descending order

In [65]:
print(nums)

[99, 5, 0, -1]

## Another method

In [66]:
nums = [-1, 0, 5, 99]
sorted(nums) # does not update the nums object

[-1, 0, 5, 99]

In [67]:
nums

[-1, 0, 5, 99]

In [68]:
nums = [-1, 0, 5, 99]

sorted(nums, reverse = True) # does mot update the nums oject

[99, 5, 0, -1]