In [6]:
nums = [2, 4, 6, 8, 9]

In [7]:
sq = []

for item in nums:
    sq.append(item **2) # Square of each item in list

In [8]:
sq

[4, 16, 36, 64, 81]

In [9]:
nums = [2, 4, 6, 8, 9]
[ item ** 2 for item in nums]

[4, 16, 36, 64, 81]

```python
[expression for item in iterables]
```

In [14]:
cars = ['audi', 'bmw', 'mercedes']

In [15]:
[item.upper() for item in cars]

['AUDI', 'BMW', 'MERCEDES']

````python
# Another Method 

cars = ['audi', 'bmw', 'mercedes']
    
for i in range(len(cars)):
    cars[i] = cars[i].upper()

print(cars)
````

# Conditionals in List Comprehension

* WAP that outputs 0 if value is less than zero and outputs value if it is greater than zero

In [18]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [19]:
# ReLu Activation Function

[0 if item <=0 else item for item in range(-10, 10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

```python
[expression if True else expression for item in iterable]
```

## Extra_1
```python
import matplotlib. pyplot as plt
plt.plot(range(-10, 10)), [0 if item <=0 else item for item in range(-10, 10)]
```

## Extra_2
```python
num_less_than_five = [num for num in range(-10, 10)]
```

## if and else in list comprehension

In [1]:
x = [-1, 33, 0, -22, 5]

In [2]:
[0 if item <= 0 else item for item in x]

[0, 33, 0, 0, 5]